*{
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    scroll-behavior: smooth;
    -webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
::selection {
    color: white;
    background: #308D46;
  }
@media (max-width:700px){
    .header-logo img{
        visibility: hidden;
    }    
}
.header-logo{
    position: fixed;
    top: 15px;
}
.header-logo img{
    width: 8vw;
    height: 17vh;
}

/*NAVBAR*/
.btn{   
    color:#999;
    background:rgba(0, 0, 0, 0.5);
    padding:10px 20px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
  }
  
  .btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding:20px 20px;
    color:#1b1b1b;
  }
  @media (min-width:469px) and (max-width:515px){
      .btn{
          font-size: 8px;
      }
  }
  @media (min-width:360px) and (max-width:468px){
      .btn{
          padding: 10px 20px;
          font-size: 8px;
      }
  }
body{
    background:#1b1b2b;
    padding:75px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
  }
  
  h1{
    color:#c0c0c0;
    font-weight:100;
  }
    /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
          position: absolute;
      width: 65%;
      height: 50%;
      top: 22%;
      left: 18%;
      z-index: 0; 
  }
  .slideshow li{
      list-style: none;
  }
  .slideshow li span { 
    position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 30s linear infinite 0s; 
  }
  
  
  
  .slideshow li:nth-child(1) span { 
      background-image: url("https://images.unsplash.com/photo-1499955085172-a104c9463ece?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url("https://images.unsplash.com/photo-1558882224-dda166733046?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      background-image: url("https://images.unsplash.com/photo-1444201983204-c43cbd584d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url("https://images.unsplash.com/photo-1534349762230-e0cadf78f5da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");   
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url("https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
      animation-delay: 24s; 
  }
  
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }
  @media (max-width:1059px){
    .slideshow{
        height: 80vh;
    }
  }
/* COLLECTION */
@media (min-width:1300px){
  .collection{
    position: absolute;
    margin-top: 270px;
    margin-left: 160px;
}
.collection li{
    list-style: none;
    float: left;
    margin: 6px;
}
.collection img{
    width: 14vw;
    height: 20vh;
    margin-right: 5px;
    border: 2px solid black;
}
.collection img:hover{
    margin-top: 10px;
    cursor: pointer;
}
}
@media (min-width:1100px){
  .collection{
      position: absolute;
      margin-top: 270px;
      margin-left: 140px;
  }
  .collection li{
      list-style: none;
      float: left;
      margin: 6px;
  }
  .collection img{
      width: 14vw;
      height: 20vh;
      margin-right: 5px;
      border: 2px solid black;
  }
  .collection img:hover{
      margin-top: 10px;
      cursor: pointer;
  }
}
@media (max-width:1059px){
    .collection{
        visibility: hidden;
    }
    .collection img{
        width: 0;
        height: 0;
    }
}
/*COLUMNS*/
.columns{
    position: relative;
    top: 400px;
}
.columns h1{
    color: white;
}
.welcome-section{
    width: 30%;
    float: left;
    color: #B0BEC5;
}
.project{
    width: 35%;
    float: left;
}
.contact{
    width: 30%;
    float: left;
}
.welcome-section hr{
    width: 50%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.project hr{
    width: 60%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
.contact hr{
    width: 60%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);

}
.contact{
    color: #B0BEC5;
}
.project .card{
    width: 20vw;
    height: 20vh;
    border: 1px solid black;
    margin-bottom: 10px;
}
.card img{
    width: 20vw;
    height: 20vh;
}
.card img:hover{
    transform: scale(1.1);
    overflow: hidden;
    cursor: pointer;
}
.columns i{
    color: white;
}
@media (max-width:630px){
    .welcome-section{
        width: 90%;
        clear: both;
        color: #B0BEC5;
        margin-bottom: 40px;
    }
    .project{
        width: 90%;
        clear: both;
        margin-bottom: 40px;
    }
    .project .card{
        width: 40vw;
        height: 30vh;
        border: 1px solid black;
        margin-bottom: 10px;
    }
    .card img{
        width: 40vw;
        height: 30vh;
    }
    .contact{
        width: 90%;
        clear: both;
    }
}

@media (min-width:360px) and (max-width:1000px){
    .wrapper{
        visibility: hidden;
    }
}
/*TESTIMONIALS*/
  .wrapper{
    position: absolute;
    top:1250px;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    max-width: 650px;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 380px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
}
.card img{
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.7);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}
.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card h1{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
}
.card p{
    line-height: 24px;
    height: 70%;
}
.card button{
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color:#fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}
.card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}

.testimonials-div{
  position: absolute;
  top: 960px;
  margin-left: 37%;
  color: white;
}
.testimonials-div hr{
  width: 100%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

@media (min-width:360px) and (max-width:1000px){
    .testimonials-div{
        visibility: hidden;
    }
}

/*NAVBAR TWO*/

@media (max-width:700px){
nav {
  float: left;
	position: fixed;
    top: 0;
  left: 0;
	background: transparent;
}

nav ul {
	text-align: center;
}

nav ul li {
    position: relative;
    list-style: none;
  width: 70px;
  cursor: pointer;
	background: crimson;
	text-transform: uppercase;
	transition:all .4s ease-out;
}

nav ul li:after {
	position: absolute;
	background: white;
	color: crimson;
	top:0;
	left: 70px;
	width: 70px; height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

nav ul li:nth-child(1):after { 
	content: "Home";
	line-height: 88px;
}
nav ul li:nth-child(2):after { 
	content: "About";
	line-height: 88px;
}
nav ul li:nth-child(3):after { 
	content: "Work";
	line-height: 85px;
}
nav ul li:nth-child(4):after { 
	content: "Say hi";
	line-height: 70px;
}

nav ul li:hover {
	transform: translateX(-70px);
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

nav ul li div { position: relative; }

.roof {
	width: 0;
	height: 0;
	top:2px;
	border-style: solid;
	border-width: 0 21px 15px 21px;
	border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
	position: absolute;
	z-index: 20;
	left: -17px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 17px 12px 17px;
	border-color: transparent transparent crimson transparent;
}
/*white triangle over red triangle*/
.roof-edge:after {
	position: absolute;
	left: -14.5px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 14.5px 10px 14.5px;
	border-color: transparent transparent white transparent;
}

.front {
	position: relative;
	top: 3px;
	width: 28.5px;
	height: 20px;
	margin: 0 auto;
	background: white;
}
/*door*/
.front:after {
	position: absolute;
	background: crimson;
	width: 11px;
	height: 13px;
	bottom: 0;
	left:9px;
}

/*/// About me ////*/

nav .head {
	width: 32px;
	height: 35px;
	background: white;
	border-radius:8px;
}
/*mouth*/
nav .head:after {
	width: 4px;
	height: 10px;
	background: white;
	position: absolute;
	border-radius:4px 0 0 4px;
	top:21px;
	left: 14px;
	transform:rotate(270deg);
}

.eyes {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 5px;
	background: crimson;
}
/*right eye*/
.eyes:after {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 14px;
	background: crimson;
}

.beard {
	width: 32px;
	height: 17px;
	background: crimson;
	border:2px solid white;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius:0 0 8px 8px;
}
/*nose*/
.beard:after {
	position: absolute;
	top:-2px;
	left: 11px;
	background: white;
	width:6px;
	height: 4px;
	border-left:1px solid crimson;
	border-right:1px solid crimson;
}

/*//work//*/

.paper {
	position: relative;
	height:32px;
	width: 29px;
	background: white;
	border:2px solid white;
}

/*window*/
.paper:after {
	position: absolute;
	top:1px;
	left: 0;
	width: 25px;
	height: 29px;
	background: white;
	border-top:4px solid crimson;
}

.lines {
	position: absolute;
	top: 36px;
	left: 5px;
	width: 11px;
	box-shadow: 0 0 0 1px crimson;
}

.lines:after {
	position: absolute;
	top: 4px;
	left: 3px;
	width: 14px;
	box-shadow: 0 0 0 1px crimson;
}

.lines:nth-child(2) {
	position: absolute;
	top: 44px;
	left: 8px;
	width: 11px;
}

.lines:nth-child(2):after {
	position: absolute;
	top: 4px;
	left: -3px;
	width: 11px;
}

.lines:nth-child(3) {
	position: absolute;
	top: 52px;
	left: 8px;
	width: 14px;
}

.lines:nth-child(3):after {
	display: none;
}

/*//mail //*/

.mail-base {
	position: relative;
	width: 32px;
	height: 18px;
	background: white;
}

.mail-top {
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	transform: rotate(180deg);
	border-style: solid;
	border-width: 0 16px 11px 16px;
	border-color: transparent transparent crimson transparent;
}

.mail-top:after {
	position: absolute;
	z-index: 20;
	left: -16px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 16px 9px 16px;
	border-color: transparent transparent white transparent;
}
}
footer{
    position: absolute;
    bottom: 0%;
}
